*{
    margin-left: 1%;
    margin-right: 1%;
}
div{
    font-weight:800;
    font-size: larger;

}
.topbox{
    background-color: #1d3c45;
    color: #fff1e1;
    text-align: center;
 font-size: 50px;
}
.topbox:hover{
    color: #d58d60;
}
/* body tag  */
body{
    background-color:#4c6bbf;
    background-size: 100% 100%;
    color: rgb(42, 41, 41);
    
}




/* personal details  */
#personaldetails{
    font-weight: bolder;
    font-size: 20px;
    background-color: #fff1e1;
    text-align: center;
    

}

#personaldetails:hover{
    background-color: rgb(255, 255, 96);
    transition: .9s;
}



/* in personal details */
#personaldetails1{
    text-align: left;
    margin-left: 20px;
}


/* linked in picture */
#linkedin{
    width: 19px;
}




/* OBJECTIVES */
#objectivecontent{
    /* border-radius: 20px; */

    background-color: #fff1e1;
}
#objectivecontent:hover{
    background-color: rgb(255, 255, 96);
    transition: .9s;
}



/* paragraph */
#objectivecontentP{

    margin-left: 10px;

}



/* EXPERIENCE */

/* experience list */
#explist{
    background-color: #fff1e1;
    /* border-radius: 20px; */
}

#explist:hover{
    background-color: rgb(255, 255, 96);
    transition: .9s;
}



/* experience content */
#excontent{
    margin: left 10px;
}

/* eductation */

#edulist{
    background-color: #fff1e1;
    /* border-radius: 20px; */
}
#edulist:hover{
    background-color: rgb(255, 255, 96);
    transition: .9s;
}




#edulist1{
    font-size: larger;
}


/* SKILLS */
 
#skillscontent{
    background-color: #fff1e1;
    /* border-radius: 20px; */
}
#skillscontent:hover{
    background-color: rgb(255, 255, 96);
    transition: .9s;
}



#skillscontent1{
    font-size: larger;
}

/* achievement and awards. */

#achi{
    font-size: larger;
    font-weight: bolder;
    background-color: #fff1e1;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    
}
#achi:hover{
    background-color: rgb(255, 255, 96);
    transition: .9s;
}



#html1{
width: 250px;
border:5;
}
.headt{
    padding: 2%;
    font-size: 50px;
    text-align: center;
}
.certificate{
    font-size: 100%;
    padding-top: 5%;
    box-sizing: border-box;
}
